html.ng-app="meanMapApp"
head
  ch
    title #{syppin} - My Site
// CSS
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='../bower_components/bootsrap/dist/css/bootsrap.css')
//  Holder JS
    script=("../bower_components/holderjs/holder.js")
// Google Maps API
    script(src='https://maps.googleapis.com/maps/api/js?key=YOUR_API_HERE')
// Modernizr
    script(src='../bower_components/modernizr/bin/modernizr')
// JS Source
    script(src='..bower_components/jquery/jquery.js')
    script(src='../bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js')
