doctype html
html(ng-app="meanMapApp")

  head
    title #{syppin} syppin
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    script(src='/bower_components/holderjs/holder.js')
    script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
    script(src='bower_components/modernizr/bin/modernizr')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js')    

  include ./layout.jade
